<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="https://i.pinimg.com/originals/f8/9f/28/f89f2883988dabf8326721d8ae9807ed.png" alt="" width="70" height="58" class="d-inline-block align-text-center">
      BELU
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/Almacen" routerLinkActive="active">Almacen</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Trabajadores
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/Agregar-Empleado">Agregar</a></li>
            <li><a class="dropdown-item" routerLink="/Ver-Empleado">Ver</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
