<ul class="list-group">
  <li
  class="list-group-item list-group-item-action">
  <span class="badge  bg-dark">{{ almacenLista.Id }}</span> {{ almacenLista.Nombre }} - {{ almacenLista.Cantidad }}
  <button type="button" class="btn btn-danger" >Eliminar</button>
  <ul style="list-style: none;">
    <li *ngFor="let Caracteristica of items">{{Caracteristica}}</li>
  </ul>
  <app-caracteristicas-empleado (Caracteristicas)="AgregarCaracteristica($event)"></app-caracteristicas-empleado>

  </li>
</ul>
